<form method="POST" name="container-form" class="mt-4" action="/courses/handle-form-action">
    <h3>My courses</h3>
    {{#if deletedCount}}
    <a href="/personal/courses/trashed">Thùng rác</a>&nbsp;({{deletedCount}})
    {{/if}}
    <div class="my-2 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Select all
        </label>
      </div>

      <select class="form-control form-control-sm w-25 checkbox-select-all-options mx-3" name="action" required>
        <option value="" selected>--Choose action--</option>
        <option value="delete">Delete</option>
      </select>

      <button class="btn btn-primary btn-sm btn-check-all-submit" disabled>Apply</button>

    </div>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">
              Tên khóa học
              {{{sortable 'name' _sort}}}
            </th>
            <th scope="col">
              Trình độ
              {{{sortable 'level' _sort}}}  
            </th>
            <th scope="col">
              Created at
              {{{sortable 'createdAt' _sort}}}
            </th>
            <th scope="col">
              Action
            </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
              <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
                    </div>
                  </td>
                  <td>{{this.name}}</td>
                  <td>{{this.level}}</td>
                  <td>{{this.createdAt}}</td>
                  <td>
                      <a href="/courses/{{this._id}}/edit" class="btn btn-warning">Edit</a>
                      <button type="button" class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal" data-target="#deleteCourseModal">
                          Delete
                      </button>
                  </td>
              </tr>
            {{else}}
              <tr>
                <td colspan="5" class="text-center">
                  Bạn chưa đăng khóa học nào.
                  <a href="/courses/create">Đăng khóa học</a>
                </td>
              </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Delete course confirmation --}}
<div class="modal fade" id="deleteCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete course?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are sure want to delete this course?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btnDeleteCourse">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete form --}}
<form method="post" name="delete-course-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById('btnDeleteCourse');
        //var containerForm = document.forms['container-form'];
        var containerForm = $('form[name="container-form"]');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.btn-check-all-submit');

        $('#deleteCourseModal').on('show.bs.modal', function (event) {
            
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });
        
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/delete?_method=DELETE';            
            deleteForm.submit();
        }

        checkboxAll.change(function () {
          var isCheckedAll = $(this).prop('checked');
          courseItemCheckbox.prop('checked', isCheckedAll);
          renderCheckAllSubmitBtn();
        });

        courseItemCheckbox.change(function () {
          var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
          checkboxAll.prop('checked', isCheckedAll);
          renderCheckAllSubmitBtn();
        });
        function renderCheckAllSubmitBtn () {
          var checkedCount = $('input[name="courseIds[]"]:checked').length;
          if (checkedCount) {
            checkAllSubmitBtn.attr('disabled', false);
          } else {
            checkAllSubmitBtn.attr('disabled', true);
          }
        }

    });
</script>