<div class="mt-4">
    <div>
      <h3>Khóa học đã xóa</h3>
      <a href="/personal/courses">Back</a>
    </div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khóa học</th>
            <th scope="col">Trình độ</th>
            <th scope="col">Created at</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each deletedCourses}}
              <tr>
                  <th scope="row">{{sum @index 1}}</th>
                  <td>{{this.name}}</td>
                  <td>{{this.level}}</td>
                  <td>{{this.createdAt}}</td>
                  <td>
                      <a href="" class="btn btn-success btn-restore" data-id="{{this._id}}">Restore</a>
                      <button type="button" class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal" data-target="#deleteCourseModal">
                          Force delete
                      </button>
                  </td>
              </tr>
            {{else}}
              <tr>
                <td colspan="5" class="text-center">
                  Thùng rác trống.
                </td>
              </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Delete course confirmation --}}
<div class="modal fade" id="deleteCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete course?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are sure want to delete this course?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btnDeleteCourse">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete form --}}
<form method="post" name="delete-course-form"></form>

{{!-- Restore form --}}
<form method="post" name="restore-course-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var btnDeleteCourse = document.getElementById('btnDeleteCourse');
        var restoreBtn = $('.btn-restore');

        $('#deleteCourseModal').on('show.bs.modal', function (event) {
            
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });
        
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';            
            deleteForm.submit();
        }

        restoreBtn.click(function (event) {
          event.preventDefault();
          var courseId = $(this).data('id');
          restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';            
          restoreForm.submit();
        });
    });
</script>