<div class="search-form mt-5">
    <form method="POST" action="">
        <div class="form-group">
            <label for="keyword">Keyword</label>
            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Enter keyword">
        </div>

        <div class="form-group">
            <label for="gender-input">Selecte gender</label>
            <select class="form-control" name="gender-input" id="gender-input">
                <option value="">--Gender--</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>