 <div class="mt-4">
    <h3>Create course</h3>

    <form method="post" action="/courses/store">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description">
        </div>
        <div class="form-group">
            <label for="video_id">Video ID</label>
            <input type="text" class="form-control" name="video_id" id="video_id">
        </div>
        <div class="form-group">
            <label for="level">Level</label>
            <input type="text" class="form-control" name="level" id="level">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

 </div>