 <div class="mt-4">
    <h3>Edit course</h3>

    <form method="post" action="/courses/{{course._id}}/update?_method=PUT">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" value="{{course.name}}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" rows="5">{{course.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="video_id">Video ID</label>
            <input type="text" class="form-control" name="video_id" id="video_id" value="{{course.video_id}}">
        </div>
        <div class="form-group">
            <label for="level">Level</label>
            <input type="text" class="form-control" name="level" id="level" value="{{course.level}}">
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>

 </div>