<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Learn now</button>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <p>{{course.description}}</p>   
        </div>
    </div>
</div>